body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

p {
    font-family: 'Source Serif Pro', serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid rgba(128, 128, 128, 0.274);
    padding-bottom: 40px;
}

#header-right {
    display: flex;
    justify-content: right;
    flex: inline;
    height: fit-content;
    
}

#recipe-main {
    width: 900px;
    font-size: large;
    color: rgb(66, 65, 65);
}

#header-left {
    display: flex;
    justify-content: left;
    flex: inline;

}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bolder;
    color: black;
    margin-bottom: 0px;
}

#textRecipe {
    text-indent: 40px;
}

img {
    display: flex;
    justify-content: center;
}

#notes {
    padding-bottom: 50px;
}

#p-vs {
    width: 60%;
}

#vs {

}

#vanessa-section {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    border-top: 10px solid rgba(128, 128, 128, 0.274);
    font-family: 'Source Serif Pro', serif;
    font-size: medium;
    color: rgb(109, 106, 106);
    border-bottom: solid 1px rgba(128, 128, 128, 0.452);;
}

#notes {
    padding-top: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: justify;
    font-family: 'Source Serif Pro', serif;
    color: rgba(128, 128, 128, 0.466);
    margin-left: 35%;
    margin-right: 35%;
}

button {
    background-color: rgba(162, 56, 32, 0.733);
    color: rgba(255, 255, 255, 0.829);
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    border: 1px solid  rgba(255, 255, 255, 0);
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: 300;
}

#date {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgba(49, 48, 48, 0.459);
    top: 0%;
    font-size: small;
    margin: 0px;
    display: flex;
    flex: inline;
    justify-content: left;
}

#date-2 {
    display: flex;
    flex: inline;
    justify-content: right;
    font-size: 15px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgba(49, 48, 48, 0.459);
    padding-bottom: 20px;
}

#knife-fork-logo {
    margin-left: 115px;
   
}

#vs {
    width: 100px;
}
