body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

p {
    font-family: 'Source Serif Pro', serif;
}

#header-right {
    display: flex;
    justify-content: right;
    flex: inline;
    border-bottom: 3px dashed rgb(66, 65, 65);
}

#recipe-main {
    width: 930px;
    font-size: large;
    color: rgb(66, 65, 65);
}

#header-left {
    display: flex;
    justify-content: left;
    flex: inline;

}

h1 {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: bolder;
}

img {
    display: flex;
    justify-content: center;
}

#p-vs {
    width: 100%;
    position: relative;
    padding-left: 200px;
}



#vanessa-section {
    padding-top: 10px;
}

#notes {
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
}
